@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 375px) {
  body {
    width: 375px;
    margin: 0 auto;
  }

  /* .mobile_nav {
    position: absolute;
    left: 375px;
    width: 100%;
    height: 755px;
    background: white;
    transition: all 0.5s 0.5s;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .mobile_nav .list {
    width: 351px;
    height: 184px;
    position: absolute;
    left: 12px;
    top: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .list h3 {
    height: 24px;
    font-weight: 600;
    line-height: 44px;
    font-size: 32px;
    padding: 16px;
    color: #3a4a42;
  }

  #burger_x {
    position: absolute;
    right: 35px;
    border: none;
    background: none;
    padding-top: 17px;
    float: right;
    cursor: pointer;
  } */

  .head .nav {
    margin-top: 44px;
    display: flex;
    padding: 10px 35px 0 24px;
    align-items: center;
    justify-content: space-between;
  }

  .head .nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 600;
    width: 90px;
    line-height: 28px;
  }

  .main {
    background: url(./Icons/header-illsutration-mobile@2x.png);
    background-size: cover;
    height: 100%;
    width: 100vw;
  }

  .main .info h2 {
    color: #172b4d;
    width: 327px;
    height: 192px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 52px;
    padding: 64px 24px;
  }

  .main h2 span {
    color: #36b37e;
  }

  .main p {
    width: 327px;
    height: 164px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    color: #172b4d;
    order: 1;
    padding: 0 24px 58px 24px;
  }

  .main .icons {
    width: 170.2px;
    height: 20px;
    margin: 0 auto;
    text-decoration: none;
  }

  .main .icons ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  .icons ul li a:hover {
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .icons a .icon_btn:enabled {
    background: #36b37f;
  }

  .main .scroll {
    padding-top: 58px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .icons .scroll img {
    height: 40px;
    width: 40px;
  }

  .works_main {
    display: grid;
    margin: 0 auto;
    width: 327px;
    grid-template-rows: 121px 1fr;
  }

  .works_main .works_heading {
    height: 151px;
    padding: 22px 22px 62px 26px;
  }

  .works_heading .heading {
    font-size: 40px;
    height: 97px;
    text-align: center;
    line-height: 52px;
    font-weight: 700;
    color: #172b4d;
    padding-bottom: 24px;
  }

  .works_heading .green_box {
    margin: 0 auto;
    width: 48px;
    height: 4px;
    border-radius: 24px;
    background: #36b37e;
  }

  .works_main .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    margin-top: 24px;
    width: 327px;
    height: 474px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .works_main .card1 {
    margin-top: 62px;
  }

  .img_holder {
    height: 252px;
    background: url(Icons/picture/space-tourism.jpg);
    background-size: cover;
  }

  .text_holder h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    line-height: 32px;
    width: 295px;
    height: 57px;
    color: #3a4a42;
    padding: 16px 16px 0 16px;
  }

  .card .text_holder ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 32px;
    padding: 16px 11px 0 11px;
  }

  .text_holder ul li {
    background: #ebf0ee;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #3a4a42;
    letter-spacing: 0.03em;
    padding: 8px 12px;
  }

  .text_holder .btn {
    margin: 29px 102px 24px 103px;
    background: #36b37f;
    color: white;
    border-radius: 4px;
    width: 122px;
    border: none;
    height: 48px;
  }

  .works_main .card .btn a {
    color: white;
    text-decoration: none;
  }

  .text_holder .btn:active {
    color: white;
    background: #008552;
  }

  .text_holder button:enabled {
    background: #36b37f;
  }

  .text_holder button:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .aboutMe {
    height: 1625px;
    display: grid;
    margin-bottom: 100px;
    grid-template-rows: 392px repeat(3, 352px);
    gap: 59px;
    position: relative;
    background: url(Icons/picture/illustration-\ about\ me-\ mobile.svg);
    background-repeat: no-repeat;
  }

  .aboutMe .info_me {
    margin: 64px 12px 0 12px;
    height: 333px;
  }

  .aboutMe .info_me h2 {
    font-weight: 700;
    text-align: center;
    color: #172b4d;
    font-size: 40px;
    padding: 24px 0;
    line-height: 52px;
  }

  .info_me p {
    font-weight: 400;
    height: 189px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .info_me #float {
    position: absolute;
    right: 0;
    top: 0;
  }

  .aboutMe .info_me .btn {
    height: 48px;
    width: 159px;
    color: white;
    text-align: center;
    background: #36b37f;
    border: none;
    font-size: 17px;
    display: block;
    line-height: 24px;
    margin: 0 auto;
    font-weight: 500;
    border-radius: 4px;
  }

  .cards {
    background: #ebf0ee;
    width: 327px;
    height: 352px;
    border-radius: 8px;
    margin: 0 auto;
    border: 1px solid #c1c7d0;
    padding-top: 35px;
  }

  .aboutMe .cards img {
    display: block;
    margin: 0 auto;
  }

  .cards h3 {
    margin: 16px 0 24px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #344563;
  }

  .aboutMe .cards ul {
    list-style: none;
    width: 271px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
  }

  .cards ul li {
    background: white;
    color: #36b37e;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin: 4px auto;
    align-self: center;
    letter-spacing: 0.03em;
  }

  footer {
    padding: 0 24px;
  }

  footer .footer-head {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    text-align: center;
  }
}
