@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 500px) {
  body {
    width: 375px;
    margin: 0 auto;
  }

  .head nav {
    margin-top: 44px;
    display: flex;
    padding: 10px 35px 0 24px;
    align-items: center;
    justify-content: space-between;
  }

  .head nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 600;
    width: 90px;
    line-height: 28px;
  }

  .main {
    background: url(./Icons/header-illsutration-mobile@2x.png);
    background-size: cover;
    height: 100%;
    width: 100vw;
  }

  .main .info h2 {
    color: #172b4d;
    width: 327px;
    height: 192px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 52px;
    padding: 64px 24px;
  }

  .main h2 span {
    color: #36b37e;
  }

  .main p {
    width: 327px;
    height: 164px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    color: #172b4d;
    order: 1;
    padding: 0 24px 58px 24px;
  }

  .main .icons {
    width: 170.2px;
    height: 20px;
    margin: 0 auto;
    text-decoration: none;
  }

  .main .icons ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  .icons ul li a:hover {
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .icons a .icon_btn:enabled {
    background: #36b37f;
  }

  .main .scroll {
    padding-top: 58px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .icons .scroll img {
    height: 40px;
    width: 40px;
  }

  .works_main {
    display: grid;
    margin: 0 auto;
    width: 327px;
    grid-template-rows: 121px 1fr;
  }

  .works_main .works_heading {
    height: 151px;
    padding: 22px 22px 62px 26px;
  }

  .works_heading .heading {
    font-size: 40px;
    height: 97px;
    text-align: center;
    line-height: 52px;
    font-weight: 700;
    color: #172b4d;
    padding-bottom: 24px;
  }

  .works_heading .green_box {
    margin: 0 auto;
    width: 48px;
    height: 4px;
    border-radius: 24px;
    background: #36b37e;
  }
  .works_main .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    margin-top: 24px;
    width: 327px;
    height: 474px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .works_main .card1 {
    margin-top: 62px;
  }

  .img_holder {
    height: 252px;
    background: lightgray;
  }

  .text_holder h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    line-height: 32px;
    width: 295px;
    height: 57px;
    color: #3a4a42;
    padding: 16px 16px 0 16px;
  }

  .text_holder ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 305px;
    height: 32px;
    padding: 16px 11px 0 11px;
  }

  .text_holder ul li {
    background: #ebf0ee;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #3a4a42;
    letter-spacing: 0.03em;
    padding: 8px 12px;
  }

  .text_holder button {
    margin: 29px 102px 24px 103px;
    background: #36b37f;
    color: white;
    border-radius: 4px;
    width: 122px;
    border: none;
    height: 48px;
  }

  .text_holder .btn:active {
    background: #008552;
  }
  .text_holder button:enabled {
    background: #36b37f;
  }
  .text_holder button:hover {
    background: #36b37f;
    box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
  }
}
