@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* mobile-nav */

.head {
  width: 100vw;
  margin: 44px auto;
  height: 50px;
  display: flex;
  justify-content: center;
}

.head .mobile-nav {
  background: white;
  display: flex;
  z-index: 4;
  padding: 20px 20px;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.mobile-nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
  width: 90px;
  line-height: 28px;
}

.head .desktop-nav {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
}

.desktop-nav ul {
  margin: 16px auto;
  text-align: center;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.desktop-nav a {
  padding: 10px 12px;
  text-decoration: none;
  color: #344563;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.head .open {
  display: block;
  background: #e5e5e5;
  height: 755px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  z-index: 5;
}

.head .mobile_menu_list {
  display: flex;
  padding: 55px 20px;
  align-items: baseline;
  height: 200px;
  justify-content: space-between;
  flex-direction: column;
}

.head .list-img {
  display: block;
  margin-left: auto;
}

.head .close-menu {
  display: none;
}

.head .toggle {
  display: block;
  float: right;
}

/* Headline-section */

.main {
  background: url(./Icons/header-illsutration-mobile@2x.png);
  background-size: cover;
}

.main .info h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  line-height: 52px;
  padding: 0 24px 64px 24px;
}

#name {
  text-align: center;
  font-weight: 700;
  margin-top: 64px;
  font-size: 40px;
  animation: float-down 3s forwards;
  animation-delay: 0.5s;
  position: relative;
  opacity: 0;
  top: -200px;
}

#position {
  color: #36b37e;
  animation: float-down 3s forwards;
  position: relative;
  opacity: 0;
  top: -200px;
}

@keyframes float-down {
  100% {
    top: 0;
    opacity: 1;
  }
}

.main p {
  height: 164px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  color: #172b4d;
  order: 1;
  padding: 0 24px 58px 24px;
}

.icons {
  width: 170.2px;
  height: 20px;
  margin: 0 auto;
  text-decoration: none;
}

.icons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.icons a:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.icon_btn:enabled {
  background: #36b37f;
}

.main .scroll {
  padding-top: 58px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.icons .scroll img {
  height: 40px;
  width: 40px;
}

/* Works-section */

.works_main {
  display: grid;
  margin: 0 auto;
  grid-template-rows: 121px 1fr;
}

.works_main .works_heading {
  height: 151px;
  padding: 22px 22px 62px 26px;
}

.works_heading .heading {
  font-size: 40px;
  height: 97px;
  text-align: center;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
  padding-bottom: 24px;
}

.works_heading .green_box {
  margin: 0 auto;
  width: 48px;
  height: 4px;
  border-radius: 24px;
  background: #36b37e;
}

.card {
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.works_main .card1,
.card2,
.card3,
.card4,
.card5 {
  margin: 24px auto 0 auto;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  max-width: 327px;
}

.works_main .card1 {
  margin-top: 62px;
}

.img_holder {
  height: 252px;
  background: url(Icons/picture/space-tourism.jpg);
  background-size: cover;
  background-position: center;
}

.text_holder h4 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  line-height: 32px;
  height: 57px;
  color: #3a4a42;
  padding: 16px 16px 0 16px;
}

.text_holder ul {
  list-style: none;
  display: flex;
  height: 32px;
  padding: 16px 11px 0 11px;
  justify-content: center;
}

.text_holder li {
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
  color: #3a4a42;
  letter-spacing: 0.03em;
  padding: 8px 12px;
}

.text_holder .btn {
  display: block;
  margin: 29px auto;
  background: #36b37f;
  color: white;
  border-radius: 4px;
  width: 122px;
  border: none;
  height: 48px;
}

.works_main .card .btn a {
  color: white;
  text-decoration: none;
}

.text_holder .btn:active {
  color: white;
  background: #008552;
}

.text_holder button:enabled {
  background: #36b37f;
}

.text_holder button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

/* Aboutme-section */

.aboutMe {
  height: 1625px;
  display: grid;
  margin-bottom: 100px;
  grid-template-rows: 392px repeat(3, 352px);
  gap: 59px;
  position: relative;
  background: url(Icons/picture/illustration-\ about\ me-\ mobile.svg);
  background-repeat: no-repeat;
}

#aboutme-pics {
  display: none;
  position: absolute;
  top: -70px;
  left: -13.6%;
  width: 100vw;
}

.aboutMe .info_me {
  margin: 64px 12px 0 12px;
  height: 333px;
}

.aboutMe .info_me h1 {
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  padding: 24px 0;
  line-height: 52px;
}

.info_me p {
  font-weight: 400;
  height: 189px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-bottom: 25px;
}

.info_me #float {
  position: absolute;
  right: 0;
  top: 0;
}

.aboutMe .info_me .btn {
  height: 48px;
  width: 159px;
  color: white;
  text-align: center;
  background: #36b37f;
  border: none;
  font-size: 17px;
  display: block;
  line-height: 24px;
  margin: 0 auto;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}

.aboutMe .info_me .btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.aboutMe .info_me .btn:active {
  background: #008552;
}

.cards {
  background: #ebf0ee;
  width: 90vw;
  height: 352px;
  border-radius: 8px;
  margin: 24px auto;
  border: 1px solid #c1c7d0;
  padding-top: 35px;
}

.aboutMe .cards img {
  display: block;
  margin: 0 auto;
}

.cards h3 {
  margin: 16px 0 24px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #344563;
}

.aboutMe .cards ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.cards li {
  background: white;
  color: #36b37e;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin: 0 10px 10px 0;
  letter-spacing: 0.03em;
}

/* Footer-section */

footer {
  padding: 0 24px;
  padding-bottom: 250px;
}

footer .footer-head {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

form {
  margin-top: 58px;
  text-align: center;
}

input[type='text'],
input[type='email'] {
  width: 90%;
  border-radius: 4px;
  padding: 15px 15px;
  margin-bottom: 24px;
  border: 1px solid #d0d9d4;
}

textarea {
  width: 90%;
  padding: 15px 15px;
  border-radius: 4px;
  margin-bottom: 24px;
  border: 1px solid #60c095;
}

textarea::placeholder {
  color: #091e42;
}

input[type='submit'] {
  background-color: #36b37f;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  border: none;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer #form-btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.footer #form-btn:active {
  background: #008552;
}

footer .icons {
  margin-top: 47px;
}

#footer-email {
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #42526e;
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
}

#footer-img {
  float: right;
  position: relative;
  right: -24px;
  bottom: 190px;
}

footer #bottom-pics {
  position: absolute;
  bottom: -250px;
  left: -14%;
  z-index: -1;
  margin-bottom: 72px;
  width: 100vw;
}

@media screen and (min-width: 768px) {
  /* Desktop-nav */
  .head {
    margin: 0;
  }

  .head .mobile-nav {
    display: none;
  }

  .head .desktop-nav {
    background: white;
    z-index: 3;
    margin: 0;
    display: block;
  }

  .head .list-img {
    display: none;
  }

  /* Headline-section-Desktop */

  .main {
    background: url(Icons/picture/desktop-images/Header-llustration-desktop@2x.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    height: 1236px;
    padding-top: 72px;
    margin-bottom: 22.7px;
  }

  .contents {
    margin: 0 auto;
    padding: 140px 0;
    box-sizing: border-box;
    width: 50%;
    height: 756px;
  }

  .main .info h2 {
    padding: 0 0;
    font-weight: 800;
    font-size: 48px;
    line-height: 70px;
    height: inherit;
  }

  #name {
    margin-top: 0;
    font-size: 60px;
  }

  .main p {
    padding: 50px 0;
    height: inherit;
    line-height: 42px;
    font-size: 23px;
  }

  .icons {
    padding-bottom: 24px;
    height: 40px;
    width: 200px;
    scale: 1.2;
  }

  /* Works-main-Desktop */

  .works_heading .green_box {
    display: none;
  }

  .works_main {
    display: block;
    width: 80%;
    padding: 80px 0;
  }

  .works_main .works_heading {
    height: inherit;
    padding: 0;
  }

  .works_heading .heading {
    height: inherit;
    padding-bottom: 48px;
  }

  .works_main .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    margin-top: 3%;
    height: inherit;
    min-width: 30%;
  }

  .cards-holder {
    display: flex;
    flex-wrap: wrap;
  }

  /* Aboutme-desktop */

  .aboutMe {
    width: 80%;
    height: inherit;
    margin: 0 auto;
    display: block;
    background: none;
    padding: 80px 0;
  }

  #aboutme-pics {
    z-index: -1;
    display: block;
  }

  .aboutMe .info_me {
    margin: 0 auto;
    width: 70%;
  }

  .info_me p {
    height: 110px;
  }

  .cards-holder2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .cards {
    width: 30%;
  }

  .info_me #float {
    display: none;
  }

  /* Footer-desktop */

  footer {
    width: 80%;
    padding: 80px 0;
    display: flex;
    margin: 0 auto;
    position: relative;
  }

  footer .footer-head {
    width: 40%;
    font-size: 30px;
    padding: 50px 0;
  }

  footer .form-section {
    width: 60%;
  }

  #footer-img {
    display: none;
  }

  form {
    margin: 0;
  }

  input[type='submit'] {
    margin: 0 30px;
  }

  #footer-email {
    display: none;
  }

  footer .icon-holder {
    width: 100vw;
    border-top: solid 1px #dfe1e6;
    position: relative;
    left: -90%;
    bottom: -350px;
    margin: 0 auto;
  }

  footer .icons {
    margin-top: 0;
  }

  .icons ul {
    height: 72px;
    margin: 0 auto;
    width: 170px;
  }
}
